* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'DM Sans', sans-serif;
    color: rgba(230, 235, 235, 0.97);
}

body {
    box-sizing: border-box;
    background-image: url("https://tec.mx/sites/default/files/repositorio/Investigacion/5.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(6px);
}

header {
    margin-bottom: 2vh;
    padding: 1vh 0;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 5.6vh;
    color: rgba(235, 235, 235, 0.9)
}

#indicaciones {
    margin-top: 10px;
    display: inline-block;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    text-align: center;
}

#contenedor {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    height: 74vh;
    width: 100vw - 4vh;
}

@media (max-width: 1200px) {
    #contenedor {
        height: 63vh;
    }
    footer {
        margin-bottom: 5px;
        height: 23vh;
    }
}

#col1 {
    float: left;
}

#col2 {
    float: right;
}

.columna {
    width: 45vw;
    height: 66vh;
    display: inline-block;
    margin: 0 2vw;
}

.row h2 {
    font-size: 1.5vw;
    font-weight: lighter;
}

.row {
    width: 100%;
    margin-bottom: 1vh;
}

button {
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px;
    transition: 0.4s;
    margin: 7px 10px 15px;
    border: 2px solid rgba(235, 235, 235, 0.9);
    border-radius: 15px;
    color: rgba(235, 235, 235, 0.9);
    cursor: pointer;
}

.btn {
    width: 38px;
}

.btn_contenido {
    font-size: 14px;
    padding: 9px;
}

#btn_otro {
    float: right;
    margin-right: 100px;
    padding: 18px 9px;
}

button:hover {
    background-color: #045975;
    border-color: #045975;
}

footer {
    width: 15vw;
    position: fixed;
    left: 42.5vw;
    bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    height: 12vh;
}

#resultado {
    display: inline-block;
    width: 14vw;
    height: 6vh;
    border-radius: 20px;
    margin-top: 2px;
    /* border: 2px solid blue; */
    background-color: white;
}

#btn_calcular {
    float: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    border: 4px solid white;
    cursor: pointer;
    transition: 0.4s;
}

#btn_calcular:hover {
    background-color: #045975;
    border-color: #045975;
}